@model web.Models.Oddelek

@{
    ViewData["Title"] = "Izbriši";
}

<h1>Izbriši</h1>

<h3>Ste prepričani, da želite izbrisati oddelek?</h3>
<div>
    <h4>Oddelek</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OddelekIme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OddelekIme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VrstaIzdelkov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VrstaIzdelkov)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KmetijaID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KmetijaID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OddelekID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Nazaj na seznam</a>
    </form>
</div>
